{{- $hosttypes := list "desktop" "lenovo-z16" -}}
{{- $hosttype := promptChoice "What type of host are you on" $hosttypes -}}

encryption = "age"

[age]
  identity = "~/.config/age/dotfiles.key"
  recipient = "age1cxwjkmzr7rqehyve297ha6kclq99f5fhwnakgghwg03j40scmp5qumhcpg"

[edit]
  command = "micro"

[data]
  hosttype = "{{- $hosttype -}}"
  hosttypes = {{ $hosttypes | toToml }}
