#!/usr/bin/env bash
set -eu

export IDENTITY_DECRYPTED="{{- .chezmoi.config.age.identity -}}"
export IDENTITY_ENCRYPTED="{{- .chezmoi.sourceDir -}}/key.txt.age"
export HOST_TYPE="{{- .hosttype -}}"
export HOME_MANAGER_DIR="$CHEZMOI_SOURCE_DIR/dot_config/home-manager"

$HOME_MANAGER_DIR/scripts/bootstrap.sh