#!/usr/bin/env bash

source common.sh

FINGERPRINT="{{- .gpg_master_fingerprint -}}"
PUBKEY_FILE="$HOME/.gnupg/pubkey.asc"

import_full_public_keyring() {
  log section "Importing full public keyring..."

  log item "$FINGERPRINT"

  local existing_pubkey=$(gpg --export --armor  "$FINGERPRINT" 2>/dev/null)
  local new_pubkey=""
  if [ -f "$PUBKEY_FILE" ]; then
    new_pubkey="$(cat "$PUBKEY_FILE")"
  fi

  if [ "$new_pubkey" != "$existing_pubkey" ]; then
    log mismatch "Importing keyring..."
    gpg --import "$PUBKEY_FILE"
    log success "Keyring imported."
  else
    log ok "Keyring already imported."
  fi
}

import_full_public_keyring
