{
  config,
  lib,
  ...
}:
{
  home.file.".config/Code/User/settings.json".source = lib.mkForce (
    config.lib.file.mkOutOfStoreSymlink "{{ .chezmoi.sourceDir }}/dot_config/home-manager/modules/vscode/settings.json"
  );
}
