name: Bump flake.lock

on:
  schedule:
    - cron: "0 9 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: cachix/install-nix-action@v25

      - run: |
          # Calculate the store path for the local input to treat it as immutable during update
          store_path="$(nix-store --add-fixed --recursive sha256 pkgs/chromium-pwa-wmclass-sync)"
          
          # Update flake.lock, pinning the local input to its store path to avoid "mutable lock" error
          nix flake update \
            --override-input chromium-pwa-wmclass-sync "path:$store_path" \
            --flake path:.
          
          # Revert the local input in flake.lock back to the relative path
          sed -i "s|$store_path|./pkgs/chromium-pwa-wmclass-sync|g" flake.lock

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: bump flake.lock"
          branch: main
          commit_options: '--no-verify --signoff'
          file_pattern: flake.lock
          skip_dirty_check: false
          skip_fetch: true
